body{
     color: aliceblue;
     background-color: black;
}

header{
    border-bottom: solid 2px rebeccapurple(42,122,228);
    padding: 20px; 
    font-size: 32px;
    color: blueviolet(42,122,228);
}

section{
    background-color: rebeccapurple(117,112,112);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    padding-right: 10px;
    gap: 10px;
}

h2{
     padding-left: 20px;
}