body{
     color: aliceblue;
     background-color: black;
}

header{
    border-bottom: solid 2px rebeccapurple(42,122,228);
    padding: 20px; 
    font-size: 32px;
    color: blueviolet(42,122,228);
}

section{
    background-color: rebeccapurple(117,112,112);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}